@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 1%);
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    width: 80%;
    margin: 1rem 0;
    text-align: center;
    padding-top: 2cm;
    padding-bottom: 2cm;
    padding-left: 6cm;
}
container {
    width: 80%;
    background-color: aliceblue;
}

.page {
    padding: 3rem 3rem 3.9rem 3rem;
}

img {
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

p {
    margin-bottom: 2.5rem;
    line-height: 1.6rem;
    font-family: "Lexend Deca";
    color: hsla(0, 0%, 100%, 0.75);
}

.learn_more {
    background-color: hsl(0, 0%, 95%);
    padding: 0.9rem 2rem;
    text-decoration: none;
    font-family: "Lexend Deca";
    border-radius: 35px;
}

.page1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}
.page1 .learn_more {
    color: hsl(31, 77%, 52%);
}

.page2 .learn_more {
    color: hsl(31, 77%, 52%);
}

.page2 {
    background-color: hsl(184, 100%, 22%);
}

.page2 .learn_more {
    color: hsl(184, 100%, 22%);
}

.page3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

.page3 .learn_more {
    color: hsl(179, 100%, 13%);
}

.learn_more:hover {
    background-color: initial;
    color: white;
    border: 2px solid white;
}

@media only screen and (mx-width: 1440px) {

    main {
        width: 100%;
        min-width: 1000px;
        display: flex;
    }

    p {
        margin-bottom: 6.1rem;
    }

    .page1 {
        border-radius: 10px 0 0 10px;
    }

    .page3 {
        border-radius: 0 10px 10px 0;
    }
}
@media only screen and (min-width: 375) {

    main {
        width: 100%;
        min-width: 100px;
        display: flex;
    }
    
    p {
        margin-bottom: 6.1rem;
    }
    
    .page1 {
        border-radius: 10px 0 0 10px;
    }
    
    .page3 {
        border-radius: 0 10px 10px 0;
    }
}